<%= form_tag teachers_path do %>
  <%= label_tag(:full_name, "Full name") %>
  <%= text_field_tag(:full_name) %>

  <%= label_tag(:course_name, "Course name") %>
  <%= text_field_tag(:course_name, nil, placeholder: @placeholder_course) %>

  <%= label_tag(:grade_level, "Grade level") %>
  <%= text_field_tag(:grade_level) %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag("Create teacher") %>
<% end %>

<!--
NOTE: The form above is exactly identical to the below HTML form. It purely uses rails helper methods to create the form. Take some time to understand you can utilize the rails helper methods to customize forms juast as you would normal HTML forms. :)

<form action="/teachers" method="POST">
  <label>Full name</label>
  <input name="full_name" type="text"></input>
  <label>Course name</label>
  <input
    name="course"
    placeholder=<%= @placeholder_course %>
    type="text"
  >
  </input>
  <label>Grade level</label>
  <input name="grade_level" type="text"></input>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button type="submit">Create teacher</button>
</form>
-->
